.t1{
    border: 1px solid #ccc;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
}

.filledT{
    border: 0px;
    background-color: var(--md-sys-color-on-surface);
}

.outlined{

}