.text-field {
  position: relative;
  margin-bottom: 10px;
  border-radius: 4px;
}

.label {
  position: absolute;
  top: 3px;
  left: 14px;
  font-size: 14px;
  color:  var(--md-sys-color-surface-variant);
}

.label.small{
  font-size: 10px;
}

.label.medium{
  font-size: 12px;
}

.label.big{
  font-size: 14px;
}

.input {
  border: 1.5px solid black;
  padding: 12px;
  padding-top: 18px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  text-align: left;
  font-size: 12px;
  
  width: 200px;
}

.input::placeholder {
  font-size: 15px;
  text-align: center;
}

.input:focus{
  background-color: whitesmoke;
}

.text-field.filledT .input {
  background-color: var(--md-sys-color-on-surface-variant);
  outline: none;
  border: 0px;
  border-bottom: 1px var(--md-sys-color-surface-variant);
}

.text-field.outlinedT .input {
  outline: none;
  background-color: whitesmoke;
}

.text-field.outlinedT .label{
  top: -8px;
  padding: 2px;
  background-color: whitesmoke;
  max-width: fit-content;
  transition: color 0.3s;
  transition: transform 0.3s;
  color: var(--md-sys-color-surface-variant);
}

.text-field.outlinedT .input:focus {
  border-color: var(--md-sys-color-primary);
  border-style:groove;
}

.text-field.outlinedT .label.focused {
  border-color: var(--md-sys-color-primary);
  border-style:groove;
  transition: border-color 0.3s;
  color: var(--md-sys-color-on-primary);
}

.indicator {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--md-sys-color-surface-variant);
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.text-field.active .indicator {
  transform: scaleX(1);
}


.text-field:hover .input {
  opacity: 0.7;
}

.text-field:hover .label {
  color:  var(--md-sys-color-surface-variant);
}

.small {
  font-size: 12px;
  width: 120px;
}

.medium {
  font-size: 14px;
  width: 200px;
}

.big {
  font-size: 16px;
  width: 220px;
}
