.b1{
  color: var(--md-sys-color-on-primary);
  background-color: whitesmoke;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 18px;
  transition: background-color 0.8s ease;
  min-width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.small {
  font-size: 12px;
}

.medium {
  font-size: 16px;
}

.big {
  font-size: 24px;
}

.elevated {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-primary);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
}

.filled {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tonal{
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  border: 1px 
  solid rgba(0, 0, 0, 0.2);
}

.outlined {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-primary);
  border: 1px solid var(--md-sys-color-primary);
  outline-width: 1dp;
}

.text {
  background-color: transparent;
  color: var(--md-sys-color-primary-container);
  border: none;
  outline-color: var(--md-sys-color-on-primary);
}

.b1:focus{
  opacity: 0.8;
}